<p>Flight number: <%= @flight.number %></p>
<p>Departure date: <%= @flight.date %></p>
<p>Departure time: <%= @flight.time %></p>
<p>Departure city: <%= @flight.departure_city %></p>
<p>Arrival city: <%= @flight.arrival_city %></p>
