<p>Flight number: <%= @flight.number %></p>
<p>Departure date: <%= @flight.date %></p>
<p>Departure time: <%= @flight.time %></p>
<p>Departure city: <%= @flight.departure_city %></p>
<p>Arrival city: <%= @flight.arrival_city %></p>

<p> Flight Passengers </p>
<% @flight.passengers.each do |passenger| %>
  <ul>
    <il><%= passenger.name %><il>
  </ul>
<% end %>

<p>Number of minors: <%= @flight.minor_count.count %></p>
<p>Number of adults: <%= @flight.adult_count.count %></p>
