<p>Passenger name: <%= @passenger.name %></p>
<p>Upcoming Flights</p>
<% @passenger.flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
  <ul>
    <il><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></il>
  </ul>
</section>
<% end %>
<%= form_tag "/passengers/#{@passenger.id}/flights", method: :patch do %>
  <%= label_tag :flight_number %>
  <%= text_field_tag :flight_number %>

  <%= submit_tag "Submit" %>
<% end %>
